@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}


<h2><b>TICKER VIEWER</b></h2>

<p>
    Put Cool Navigation form here.
</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Radios to select which colums are being displayed. *@

<h3><b>COLUMN SELECTOR</b></h3>
    <table id="col-selector" class="table table-condensed text-center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Status</th>
                <th>Assigned developer</th>
                <th>Date Last updated</th>
                <th>Type</th>
                <th>Description</th>
                <th>Related ticket</th>
                <th>Project</th>
                <th>Date submitted</th>
                <th>Submitter</th>
                <th>Priority level</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" name="c1" value=".col1" checked /></td>
                <td><input type="checkbox" name="c2" value=".col2" checked /></td>
                <td><input type="checkbox" name="c3" value=".col3" checked /></td>
                <td><input type="checkbox" name="c4" value=".col4" checked /></td>
                <td><input type="checkbox" name="c5" value=".col5" checked /></td>
                <td><input type="checkbox" name="c6" value=".col6" checked /></td>
                <td><input type="checkbox" name="c7" value=".col7" /></td>
                <td><input type="checkbox" name="c8" value=".col8" checked /></td>
                <td><input type="checkbox" name="c9" value=".col9" checked /></td>
                <td><input type="checkbox" name="c10" value=".col10" /></td>
                <td><input type="checkbox" name="c11" value=".col11" /></td>
            </tr>
        </tbody>
    </table>


@* Ticket Table *@
<div id="ticket-table">
    @Html.Action("TicketTable")
</div>

@section Scripts {
    <script src="~/Scripts/IndexJS.js"></script>
}