@model IEnumerable<BugTracker.Models.Ticket>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    Put Cool Navigation form here.
</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@* Ticket Table *@
<div id="ticket-table">
    @Html.Action("TicketTable")
</div>

@section Scripts {
    <script src="~/Scripts/IndexJS.js"></script>
}