@* Upload an attachment *@
<div class="form-group">
    <label for="attachment@(ViewBag.Count)" class="control-label col-md-2">File attachment</label>
    <div class="col-md-10">
        <input type="file" id="attachment" name="attachment@(ViewBag.Count)" />
        @*<img id="car-pic" class="invisible" src="#" alt="your image" />*@
    </div>
</div>

<div class="form-group">
    <label for="attachment@(ViewBag.Count)" class="control-label col-md-2">Attachment description</label>
    <div class="col-md-10">
        <input class="form-control" type="text" id="attachment@(ViewBag.Count)" name="attachment@(ViewBag.Count)" />
    </div>
</div>

<p id="attachment@(ViewBag.Count++)">
    @Html.ActionLink("Add another attachment", "Create", new { count = ViewBag.Count++ }, new { @class = "btn btn-info col-md-offset-2 col-md-2" })
</p>
