@model BugTracker.Models.TicketAttachment

@{
    ViewBag.Title = "Upload an attachment";
}

<h2>Upload an attachment</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("TicketID", (int)ViewBag.TicketID)

    <div class="form-horizontal">
        <h4>TicketAttachment</h4>
        <hr />

        @* Upload an attachment *@
        <div class="row">
              @{ @Html.Action("Create", new { count = 0 }) }
        </div>
    </div>

    @* Submit and cancel buttons *@
    <p>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-1">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
            <div class="col-md-1">
                <a class="btn btn-danger" href="/Tickets">Cancel</a>
            </div>
        </div>
    </p>
}

@section Scripts{
    <script src="~/Scripts/AddAttachment.js"></script>
}