@model BugTracker.Models.TicketAttachment

@{
    ViewBag.Title = "Upload an Attachment";
}

<h2>Upload an Attachment</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.Hidden("TicketID", (int)ViewBag.TicketID)

    <div class="form-horizontal">
        <hr />

        @* Upload an attachment - using _AttachTemplate partial below. *@
        <p>
            <button id="attachButton" class="btn btn-info form-group col-md-offset-3">Upload an Attachment</button>
        </p>

        @* Submit and cancel buttons *@
        <p>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-1">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <div class="col-md-8">
                    <a class="btn btn-warning" href="/Tickets">Cancel</a>
                </div>
            </div>
        </p>

    </div>
}

@section Scripts{

}

@section Templates {

    @Html.Partial("_AttachTemplate")

    @* Start with a form ready *@
    <script>
        $(function () { document.querySelector("#attachButton").click(); });
    </script>
}