body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* CENTER HEADERS IN TABLE */
table.text-center th,
table.text-center td {
    text-align: center;
}


/* Style the description text area*/
form textarea.form-control {
    max-width: 550px;
    height: 200px;
}


/* Fixing up the Tickets Details Table */

/*#detailsTable tbody tr td:first-child {
    text-align: right;
}*/