@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Buginator</h1>
    <p class="lead">They won't be back.</p>
</div>

<h1><b>Trial Logins</b></h1>
<div class="row">
    <div class="col-md-4">
        <h3>Administrator</h3>
        <p>
            <b>Username:</b> AdminUser<br />
            <b>Password:</b> Password<br />
            An Administrator is the only person that can edit all fields of a ticket.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Developer</h3>
        <p>
            <b>Username:</b> DevUser1<br />
            <b>Password:</b> Password<br />
            A Developer can view and create ticket comments, attachments, history, and edit some ticket fields.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Submitter</h3>
        <p>
            <b>Username:</b> User1<br />
            <b>Password:</b> Password<br />
            A Submitter is the inital role of a user. They can create tickets and create comments to chat with the developer helping them.
        </p>
    </div>
</div>