@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bug Tracker 3000</h1>
    <p class="lead">Bugs happen.</p>
</div>

<h1><b>Trial Logins</b></h1>
<div class="row">
    <div class="col-md-4">
        <h3>Administrator</h3>
        <p>
            <b>Username:</b> AdminUser<br />
            <b>Password:</b> Password<br />
            An Administrator is the only person that can edit tickets.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Developer</h3>
        <p>
            <b>Username:</b> Dev1<br />
            <b>Password:</b> Password<br />
            A Developer can view and create ticket comments, attachments, history, and some ticket fields.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Submitter</h3>
        <p>
            <b>Username:</b> User1<br />
            <b>Password:</b> Password<br />
            A Submitter is the inital role of a user. They can view some proerties of the ticket an can create tickets.
        </p>
    </div>
</div>